@media screen and (min-width: $--tablet-portrait) and (max-width:$--tablet-landscape){
  :root{
    --container-width: 740px;
    --grid-column-1:calc(100% / (6 / 3) - var(--gap));
    --grid-column-2:calc(100% / (6 / 3) - var(--gap));
    --grid-column-3:calc(100% / (6 / 3) - var(--gap));
    --grid-column-4:calc(100% / (6 / 6) - var(--gap));
    --grid-column-5:calc(100% / (6 / 6) - var(--gap));
    --grid-column-6:calc(100% / (6 / 6) - var(--gap));
  }
}