.nav{
  height: var(--nav-height);
  width: 100%;
  background: var(--background-light);
  @include box-shadow(2);

  .container{
    display:flex;
    padding: 0;
    height: 100%;

    ul{
      height: 100%;
      display: flex;
      flex: 1;
      align-items: center;

      &.nav-left{
        justify-content: flex-start;
      }

      &.nav-right{
        justify-content: flex-end;
      }

      li{
        margin: var(--gap) 0;

        a{
          display: block;
        }
      }
    }
  }
}